# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/secrets.toml

# Large data/index files (optional, but recommended if large)
vectorstore/db_faiss/index.faiss
vectorstore/db_faiss/index.pkl

# OS
.DS_Store
Thumbs.db
